name: Continuous Integration

on:
  push:
    branches:
      - '**'

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Ruby 3.3.5
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5'

      - name: Build and test with Rake
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rake
